# NetPulse NOC Flask Backend Environment Variables
SECRET_KEY=netpulse-noc-secret-key-prod-2026
JWT_SECRET_KEY=netpulse-jwt-secret-key-prod-2026

# Email SMTP Settings (For Real Gmail Inbox Delivery)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_gmail_16digit_app_password
